<div class="heroHome clearfix">
  <div class="info">
    <h2>The Samsung Galaxy <sup>&reg;</sup>5 has arrived</h2>
    <p class="sub-title">Experience the next great smartphone from Samsung.</p>
  </div>
  <figure>
    <img ng-src="images/phone_hero.png" width="171">
  </figure>
  <div class="cta-brand">
    <a class="btn learn-more btn-orange" ng-href="" title="Learn More">Learn More</a>
    <figure class="brand-logo">
      <img ng-src="images/samsung_galaxy_logo.png" width="71" alt="Samsung Galaxy S5" />
    </figure>
  </div>
</div>
