<div class="listProductHome" ng-controller="ListProductsHomeCtrl">
  <div class="product" ng-repeat="product in products" ng-animate="'animate'">
    <figure>
      <img ng-src="/images/pdo/samsung_phone.jpg" width="56" />
    </figure>
    <div class="detail">
      <h4>Samsung Galaxy S<sup>&reg;</sup> III</h4>
      <p class="contract">No-Contact Smartphone</p>
      <p class="amount-sale">Sale $249.99</p>
      <p class="amount-save">Save $50</p>

      <div class="cta-brands">
        <img ng-src="/images/pdo/brands.jpg" width="85" />
        <a ng-href="" class="cta detail-cta">Detail</a>
      </div>
    </div>
  </div>
</div>
